<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>api</display-name>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>org.tamacat.mvc.servlet.StandardServlet</servlet-class>
		<init-param>
			<param-name>controller</param-name>
			<param-value>controller-api.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/default/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>oauth2</servlet-name>
		<servlet-class>org.tamacat.mvc.servlet.StandardServlet</servlet-class>
		<init-param>
			<param-name>controller</param-name>
			<param-value>controller-oauth2.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>oauth2</servlet-name>
		<url-pattern>/oauth2/token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oauth2</servlet-name>
		<url-pattern>/oauth2/discovery/keys</url-pattern>
	</servlet-mapping>
		
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<include-prelude>/WEB-INF/jsp/prelude.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/jsp/error/json/405.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/json/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error/json/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/error/json/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/jsp/error/json/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/json/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/jsp/error/json/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error/json/503.jsp</location>
	</error-page>
</web-app>